---
layout: default
---
{% include JB/setup %}
{% include themes/bootstrap-3/post.html %}

<div style="margin-bottom: 1.5em;">
	<div>
		<a href="https://twitter.com/share" class="twitter-share-button" style="vertical-align: bottom">Tweet</a>
	</div>
	<div>
	<!--
		https://developers.facebook.com/docs/plugins/share-button/?locale=pt_BR
		<span class="fb-share-button" data-href="http://rafaelcfreire.github.io/2014/11/12/free-ebook---modern-web-essentials-using-javascript-and-html5/" data-layout="button"></span>
		-->
	</div>
</div>


<script type="text/javascript" src="/js/main.js"></script>